<app-header />
<app-navbar />

<main class="pagina">
  <h1>Ingresar Información</h1>

  <section class="contenido-wrapper">


<div class="seccion-archivos">
  <app-file-list
    title="Archivos"
    [archivos]="archivos()"
    [(selectedFile)]="selectedFile"
    (fileSelected)="onArchivoSeleccionado($event)"
  />
</div>

<div class="seccion-tabla">
  @if (selectedFile()) {
    <app-table
      [title]="tituloTabla()"
      [columns]="tablaColumns"
      [data]="tablaData()"
    />
  } @else {
    <div class="sin-seleccion">
      Selecciona un archivo para ver los detalles
    </div>
  }
</div>


  </section>

  <section class="botones-accion">


<!-- ELIMINAR DOCUMENTO -->
<button
  type="button"
  class="btn btn-eliminar"
  [disabled]="!selectedFile()"
  (click)="onEliminarDocumento()"
>
  Eliminar Documento
</button>

<!-- CARGAR DATOS -->
<input
  #archivoInput
  type="file"
  accept=".xlsx"
  hidden
  (change)="onCargarDatos($event)"
/>

<button
  type="button"
  class="btn btn-agregar"
  [disabled]="cargandoArchivo()"
  (click)="archivoInput.click()"
>
  {{
    cargandoArchivo()
      ? 'Cargando datos...'
      : 'Cargar datos'
  }}
</button>

<button
  type="button"
  class="btn btn-descargar"
  [disabled]="!selectedFile() || tablaData().length === 0"
  (click)="onDescargarTabla()"
>
  Descargar información
</button>

<!-- REENTRENAR MODELOS -->
<button
  type="button"
  class="btn-reentrenar"
  [disabled]="reentrenando()"
  (click)="onReentrenarModelos()"
>
  {{
    reentrenando()
      ? 'Reentrenando modelos...'
      : 'Reentrenar modelos'
  }}
</button>


  </section>
</main>
